* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #997fa2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2f0b60;
    color: rgb(0, 255, 0);
    padding: 20px;
    text-align: center;
}
h1:hover {
    transform:rotate(360deg);
    transition: transform 1.5s;
}

nav {
    background-color: #50e3c2;
    padding: 10px;
    text-align: center;
}

main {
    padding: 40px 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 255, 0);
    background-color: rgb(159, 229, 159);
    max-width: 500px;
    width: 100%;
    padding: 20px;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.formulario a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
.formulario a:hover{
    color: #f90000;
    transition: 0.5s;
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input, textarea {
    border: 2px solid rgb(0, 255, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #2f0b60;
    box-shadow: 0 0 5px #2f0b60;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    background-color: #2f0b60;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
    text-transform: uppercase;
}

button:active {
    background-color: #792dc6;
}

footer {
    background-color: #2f0b60;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
}

footer a {
    margin: 0;
    color: rgb(0, 255, 0);
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    transition: 0.5s;
}